<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blog.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/property/admin/">有云服务器资源管理</a>
                    </li>
                     <li>
                        <a href="/property/app_idc_add/?idc_id={{ idc_id }}">关联应用</a>
                    </li>
                    <li>
                        <a href="/property/idc_all/">返回</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">应用列表</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>应用</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in ret %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ a.application }}</td>
                                        <td>
                                            <a href="/property/app_idc_del/?application_id={{ a.id }}&idc_id={{ idc_id }}">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <ul class="pagination">
                                <li>
                                    {% if page_of_host.has_previous %}
                                      <a href="?page={{ page_of_host.previous_page_number }}&idc_id={{ idc_id }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    {% else %}
                                        <span aria-hidden="true">&laquo;</span>
                                    {% endif %}
                                </li>
                                {% for page_num in page_of_host.paginator.page_range %}
                                    <li><a href="?page={{ page_num }}&idc_id={{ idc_id }}">{{ page_num }}</a></li>
                                {% endfor %}

                                <li>
                                    {% if page_of_host.has_next %}
                                      <a href="?page={{ page_of_host.next_page_number }}&idc_id={{ idc_id }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    {% else %}
                                        <span aria-hidden="true">&raquo;</span>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
     <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>