<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blog.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/">有云服务器资源管理</a>
                    </li>
                     <li>
                        <a href="/domain_add/?application_id={{ application_id }}&env_id={{ env_id }}&lanuage_id={{ lanuage_id }}">添加域名</a>
                    </li>
                    <li>
                        <a href="/app/?env_id={{ env_id }}&lanuage_id={{ lanuage_id }}">返回</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">环境</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>域名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in ret_domain %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ d.domain }}</td>
                                        <td>
                                            <a href="/domain_del/?domain_id={{ d.id }}&env_id={{ env_id }}&lanuage_id={{ lanuage_id }}">删除</a>
                                            <a href="/domain_edit/?domain_id={{ d.id }}&env_id={{ env_id }}&lanuage_id={{ lanuage_id }}&application_id={{ application_id }}">编辑</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
     <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>