<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主机添加</title>
</head>
<body>

<form action="/idc_all_add/" method="post">
    云厂商:<input type="text" name="vendors">
    系统:<input type="text" name="system">
    地区:<input type="text" name="region">
    ip地址:<input type="text" name="ip">
    运行状态:<input type="text" name="status">
    配置:<input type="text" name="configuration">
    <input type="submit">
</form>


</body>
</html>